:root {
  /* Primary Colors */
  --clr-primary-1: hsl(300, 43%, 22%);
  --clr-primary-2: hsl(333, 80%, 67%);

  /* Neutral Colors */
  --clr-neutral-1: hsl(303, 10%, 53%);
  --clr-neutral-2: hsl(300, 24%, 96%);
  --clr-neutral-3: hsl(0, 0%, 100%);
  --clr-neutral-4: hsla(0, 0%, 100%, 0.1);

  /* Font Weight */
  --fw-regular: 400;
  --fw-bold: 700;
  --fw-xbold: 900;

  /* Font Family */
  --ff-base: "League Spartan", sans-serif;
}
/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  min-height: 100vh;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* General Styling */
body {
  font-family: var(--ff-base);
  font-weight: var(--fw-bold);

  display: grid;
  align-items: start;
  justify-content: center;
  /* place-content: center; */
  min-height: 100vh;
  background-color: var(--clr-neutral-4);
  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-position: left -24px top -5px, right -15px bottom -220px;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: contain, contain;
}

/* Container Styling */
.container {
  margin: 5rem 1.5rem;
  margin: 5rem 1.5rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* Typography Styling */
h1 {
  color: var(--clr-primary-1);
  line-height: 1;
  text-align: center;
  font-size: 2rem;
  margin: 0 4rem;
  padding-bottom: 1.1rem;
  letter-spacing: -2.5px;
}
.heading p {
  font-weight: var(--fw-regular);
  font-size: 1rem;
  line-height: 1.1;
  text-align: center;
  color: var(--clr-neutral-1);
  margin: 0.75rem;
}

/* rating styling */
.rating__review {
  background-color: var(--clr-neutral-2);
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}
.rating__review p {
  font-size: 0.825rem;
  color: var(--clr-primary-1);
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

/* Star Styling */
.star img {
  width: 0.875rem;
  height: 0.875rem;
}
.star {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}

/* Product Testimonial Styling */

.profile__info {
  display: flex;
  gap: 1.125rem;
}
.product__testimonial {
  display: grid;
  gap: 1.5rem;
}
.product__testimonial-user {
  background-color: var(--clr-primary-1);
  padding: 2rem 2rem;
  border-radius: 0.875rem;
}
.profile__name h3 {
  font-size: 1rem;
  color: var(--clr-neutral-3);
}
.profile__name h4 {
  font-weight: var(--fw-regular);
  color: var(--clr-primary-2);
  font-size: 0.8rem;
  line-height: 1;
}

.review p {
  font-size: 0.8rem;
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-3);
  padding-top: 1.5rem;
}
/* Profile Photo Styling */
.profile__photo img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

/* Media Queries  */
@media (min-width: 1024px) {
  /* Utilities */
  .margin-left--3 {
    margin-left: 3rem;
  }
  .margin-left--6 {
    margin-left: 6rem;
  }
  .margin-top--2 {
    margin-top: 2rem;
  }
  .margin-top--3 {
    margin-top: 3rem;
  }

  /* Container Styling */
  .container {
    margin: 4rem 10rem;
  }

  /* Product Add Responsive Styling */
  .product__ad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    align-items: center;
    padding-bottom: 2rem;
  }
  /* Typography */
  h1 {
    text-align: left;
    font-size: 3rem;
    margin: 0;
    max-width: 350px;
  }

  .heading p {
    text-align: left;
    margin: 0;
    font-size: 1rem;
    letter-spacing: -0.5px;
    font-weight: var(--fw-regular);
    /* margin-right: 5rem; */
    width: 400px;
  }
  /* Rating Styling */
  .rating__review {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem 1.9rem;
    max-width: 23rem;
  }
  .star {
    justify-content: flex-start;
  }
  .rating__review p {
    padding: 0;
    flex-grow: 0;
  }

  /* Product Testemonial */
  .product__testimonial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
    min-height: 18rem;
  }
}
